PORT=3000
NODE_ENV=development
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=servicecomdgpn@gmail.com
SMTP_PASS=jmtw atyy brnu rqep
EMAIL_FROM=servicecomdgpn@gmail.com
FRONTEND_URL=http://localhost:3000
DB_PATH=./data/police.db
